@charset "utf-8";
/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    letter-spacing: 0.1em;
    color: #ad8f86;
    font-family: "source-han-sans-japanese", sans-serif, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3",
        "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana";
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}
ul {
    /*左の「・」を消す*/
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
p {
    font-size: 16px;
    letter-spacing: 0;
}
input {
    border: none;
}

/* PC版 */
body {
    background-color: #f8ece5;
    max-width: 1000px;
    margin: 0 auto;
}

/* 各種タイトル */
.works--title,
.service--title,
.skill--title,
.contact--title {
    margin-bottom: 45px;
}
h2 {
    font-size: 60px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
    position: relative;
    text-shadow: -3px -3px 10px rgba(255, 255, 255, 0.5),
        3px 3px 10px rgba(0, 0, 0, 0.05);
}
h2::after {
    font-size: 20px;
    color: #fff;
    position: absolute;
    content: "◆";
    bottom: 30px;
    left: 30%;
    text-shadow: none;
}
.skill--title h2::after {
    left: 13%;
}
h2 span::after {
    font-size: 12px;
    color: #fff;
    position: absolute;
    content: "◆";
    bottom: 10px;
    left: 25%;
    text-shadow: none;
}
.skill--title h2 span::after {
    left: 9%;
}
h2::before {
    font-size: 20px;
    color: #fff;
    position: absolute;
    content: "◆";
    bottom: -10px;
    left: 70%;
    text-shadow: none;
}
.skill--title h2::before {
    left: 87%;
}
h2 span::before {
    font-size: 12px;
    color: #fff;
    position: absolute;
    content: "◆";
    bottom: -30px;
    left: 65%;
    text-shadow: none;
}
.skill--title h2 span::before {
    left: 82%;
}

.works--title p,
.service--title p,
.skill--title p,
.contact--title p {
    font-size: 18px;
    text-align: center;
    font-weight: 200;
}
/* 各sectionの間 */
#about,
#works,
#service,
#skill,
#contact {
    margin-bottom: 150px;
}

/* header */
.header--nav ul {
    display: flex;
    justify-content: end;
    padding: 18px 50px 0 0;
}
.header--nav ul li {
    padding: 14px 30px;
    font-size: 16px;
}
.header--contact {
    color: #fff;
    background-color: #ad8f86;
    border-radius: 8px;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1),
        3px 3px 10px rgba(0, 0, 0, 0.03);
}
/* mainvisual */
.mainvisual {
    display: flex;
}
.mainvisual--message {
    writing-mode: vertical-rl;
    position: relative;
    margin-top: -62px;
    width: 22.2%;
}
.mainvisual--manami {
    width: 70%;
}
h1 {
    padding-top: 64px;
    padding-left: 45px;
}

/* about */
.about {
    width: 100%;
    margin-bottom: 100px;
}
.about--contents {
    position: relative;
    top: 0;
    left: 0;
}
.about--contents__up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
}
.about--contents__up__image img {
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1),
        3px 3px 10px rgba(0, 0, 0, 0.03);
}
.about--contents__up__text {
    margin-left: 60px;
    width: 45.1%;
}
.about--contents__up__text p {
    line-height: 1.875;
}
.about--contents__up__text__01 {
    font-size: 24px;
    margin-bottom: 10px;
}
.about--contents__up__text__02 {
    font-size: 32px;
    margin-bottom: 20px;
}
.about--background {
    margin-right: calc(50% - 45vw);
    margin-left: calc(50% - 45vw);
}
/* works */

/* service */
.service--contents {
    display: flex;
    justify-content: space-between;
}
.service--contents__design img,
.service--contents__cording img,
.service--contents__editing img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.service--contents__design img {
    width: 47px;
}
.service--contents__cording img {
    width: 68px;
}
.service--contents__editing img {
    width: 37px;
}
.service--contents__design div,
.service--contents__cording div,
.service--contents__editing div {
    background-color: #fff;
    width: 70%;
    border-radius: 50%;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1),
        3px 3px 10px rgba(0, 0, 0, 0.03);
    padding-top: 70%;
    margin: 0 auto 35px auto;
    position: relative;
}
.service--contents__design p:first-of-type,
.service--contents__cording p:first-of-type,
.service--contents__editing p:first-of-type {
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
}
.service--contents__design p:nth-of-type(2),
.service--contents__cording p:nth-of-type(2),
.service--contents__editing p:nth-of-type(2) {
    font-size: 13px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.2em;
    margin-bottom: 30px;
}
.service--contents__design p:last-of-type,
.service--contents__cording p:last-of-type,
.service--contents__editing p:last-of-type {
    width: 80%;
    margin: 0 auto;
    line-height: 1.875;
}

/* skill */
.skill--skillpersonal {
    display: flex;
    justify-content: space-between;
}
.skill--skill,
.skill--personal {
    width: 47.2%;
    height: 550px;
    border-radius: 48px;
    box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.2),
        3px 3px 10px rgba(0, 0, 0, 0.03);
}
.skill--skill h3,
.skill--personal h3 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: 40px 0 15px 0;
}
.skill--skill__underline,
.skill--personal__underline {
    background-color: #ad8f86;
    border-radius: 1px;
    width: 100px;
    height: 2px;
    display: block;
    margin: 0 auto;
}
.skill--skill__underline {
    margin-bottom: 30px;
}
.skill--personal__underline {
    margin-bottom: 42px;
}

.skill--skill__bar {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f8ece5;
    border-radius: 5px;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1),
        3px 3px 8px rgba(0, 0, 0, 0.03);
}
.skill--skill__ps,
.skill--skill__ai,
.skill--skill__html,
.skill--skill__css,
.skill--skill__pr,
.skill--skill__ae {
    border-radius: 5px;
    background: #ad8f86;
    height: 10px;
    transition: width 3.3s ease-in-out;
}
.skill--skill__ps {
    width: 80%;
}
.skill--skill__ai {
    width: 10%;
}
.skill--skill__html {
    width: 20%;
}
.skill--skill__css {
    width: 30%;
}
.skill--skill__pr {
    width: 40%;
}
.skill--skill__ae {
    width: 50%;
}

.skill--skill ul {
    margin: 0 auto;
    width: 68%;
}
.skill--skill ul li {
    margin-bottom: 32px;
}
.skill--skill ul li p {
    margin-bottom: 8px;
}

.skill--personal li {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}
.skill--personal {
    position: relative;
}
.skill--personal__icon01 {
    position: absolute;
    top: 130px;
    left: 20px;
}
.skill--personal__icon02 {
    position: absolute;
    top: 200px;
    right: 50px;
}
.skill--personal__icon03 {
    position: absolute;
    top: 300px;
    left: 55px;
}
.skill--personal__icon04 {
    position: absolute;
    top: 440px;
    right: 32px;
}
/* contact */
.contact--title__jpn {
    margin-bottom: 30px;
}
.contact--title p {
    text-align: center;
}
.contact--form {
    max-width: 1000px;
}
.contact--form dl {
    display: flex;
    margin-bottom: 24px;
    justify-content: center;
}
.contact--form dt {
    width: 20.2%;
}
.contact--form dd {
    width: 49.5%;
}
.contact--form dt span {
    font-size: 11px;
    background-color: #ad8f86;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    margin-right: 13px;
}
.contact--form .contact--form__nini {
    background-color: #f1e2da;
    color: #ad8f86;
}

.contact--form__input {
    border: none;
    border-radius: 6px;
    height: 35px;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 495px;
    background: #fff;
    font-size: 14px;
    color: #ad8f86;
    box-sizing: border-box;
}
.contact--form__inputTextArea {
    border: none;
    border-radius: 6px;
    height: 150px;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 495px;
    background: #fff;
    font-size: 14px;
    color: #ad8f86;
    box-sizing: border-box;
}
.contact--btn {
    margin: 0 auto;
}
.contact--btn__btn {
    background: #ad8f86;
    color: #fff;
    padding: 9px 30px;
    border-radius: 8px;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1),
        3px 3px 10px rgba(0, 0, 0, 0.03);
}
/* footer */
#footer {
    background: #ad8f86;
    height: 254px;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
}
.footer--contents {
    display: flex;
    padding-top: 70px;
    margin-bottom: 45px;
}
.footer--contents__name p {
    color: #fff;
    font-size: 30px;
    margin-right: 100px;
}
.footer--contents__nav li {
    color: #fff;
    padding-left: 1em;
    margin-bottom: 12px;
    position: relative;
}

.footer--contents__nav li:after {
    position: absolute;
    content: "";
    bottom: 0.4em;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: #fff;
    transform: rotate(45deg);
}
.footer--contents__c {
    color: #fff;
    font-size: 8px;
    text-align: center;
}
