@charset "utf-8";
/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    letter-spacing: 0.1em;
    color: #ad8f86;
    font-family: "source-han-sans-japanese", sans-serif, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3",
        "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana";
    font-feature-settings: "palt";
}
p {
    font-weight: 300;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}
ul {
    /*左の「・」を消す*/
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
p {
    font-size: 16px;
    letter-spacing: 0;
}
input {
    border: none;
}

/* PC版 */
body {
    background-color: #f8ece5;
    max-width: 1000px;
    margin: 0 auto;
}

/* 各種タイトル */
.works--title,
.service--title,
.skill--title,
.contact--title {
    margin-bottom: 45px;
}
h2 {
    font-size: 60px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
    position: relative;
    text-shadow: -3px -3px 10px rgba(255, 255, 255, 0.5),
        3px 3px 10px rgba(0, 0, 0, 0.05);
}
h2::after {
    font-size: 20px;
    color: #fff;
    position: absolute;
    content: "◆";
    bottom: 30px;
    left: 30%;
    text-shadow: none;
}
.skill--title h2::after {
    left: 13%;
}
h2 span::after {
    font-size: 12px;
    color: #fff;
    position: absolute;
    content: "◆";
    bottom: 10px;
    left: 25%;
    text-shadow: none;
}
.skill--title h2 span::after {
    left: 9%;
}
h2::before {
    font-size: 20px;
    color: #fff;
    position: absolute;
    content: "◆";
    bottom: -10px;
    left: 70%;
    text-shadow: none;
}
.skill--title h2::before {
    left: 87%;
}
h2 span::before {
    font-size: 12px;
    color: #fff;
    position: absolute;
    content: "◆";
    bottom: -30px;
    left: 65%;
    text-shadow: none;
}
.skill--title h2 span::before {
    left: 82%;
}

.works--title p,
.service--title p,
.skill--title p,
.contact--title p {
    font-size: 18px;
    text-align: center;
    font-weight: 200;
}
/* 各sectionの間 */
#about,
#works,
#service,
#skill,
#contact {
    margin-bottom: 150px;
}

/* header */
.header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
    background: #f8ece5;
    padding-bottom: 15px;
    width: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.03);
}
.header--pcnav ul {
    display: flex;
    justify-content: end;
    padding: 18px 50px 0 0;
}
.header--pcnav ul li a {
    font-size: 16px;
    padding: 14px 24px;
    display: block;
    position: relative;
    margin-left: 20px;
}
.header--pcnav ul li a::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #ad8f86;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
}
.header--pcnav ul li a:hover::after {
    transform: scale(1, 1);
}
.header--contact a {
    background-color: #ad8f86;
    color: #fff;
    border-radius: 8px;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1),
        3px 3px 10px rgba(0, 0, 0, 0.03);
    position: relative;
    text-align: center;
    z-index: 1;
    transition: 0.3s;
}
.header--contact a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #f8ece5;
    border-radius: 8px 8px 0 0;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.3),
        3px 3px 10px rgba(0, 0, 0, 0.03);
    box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.5),
        inset 3px 3px 10px rgba(0, 0, 0, 0.1);
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease 0.3s;
}
.header--contact a:hover {
    color: #ad8f86;
}
.header--contact a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}
/* mainvisual */
.mainvisual {
    display: flex;
    margin-bottom: 80px;
}
.mainvisual--manami {
    width: 100%;
    margin-top: 50px;
}
#mainvisual {
    position: relative;
}
.scroll {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.scroll--text {
    letter-spacing: 0.1em;
    text-align: center;
    padding-bottom: 30px;
    padding-right: 30px;
    transform: rotate(-90deg);
}
.scroll--yazirusi {
    display: flex;
    justify-content: center;
    transform: rotate(-90deg);
}
.scroll--yazirusi::after {
    content: "";
    width: 80px;
    height: 5px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    transform: skew(-45deg);
}
/* about */
.about {
    width: 100%;
    max-width: 1000px;
}
.about--contents {
    position: relative;
    overflow: hidden;
    height: 600px;
}
.about--contents__up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.about--contents__up__image img {
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1),
        3px 3px 10px rgba(0, 0, 0, 0.03);
}
.about--contents__up__text {
    margin-left: 60px;
    width: 45.1%;
}
.about--contents__up__text p {
    line-height: 1.875;
}
.about--contents__up__text__01 {
    font-size: 24px;
}
.about--contents__up__text__02 {
    font-size: 32px;
    margin-bottom: 20px;
}
.about--background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1200px;
    height: 600px;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    z-index: -1;
    margin-top: -300px;
    margin-left: -600px;
}
.about--background p {
    font-size: 280px;
    font-weight: 900;
    color: #faf1ec;
    text-align: center;
    text-shadow: -3px -3px 20px rgba(255, 255, 255, 0.1),
        3px 3px 20px rgba(0, 0, 0, 0.02);
}

/* works */
.works--slider {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
}
.works--slider div {
    padding: 0 20px;
}
.works--slider img {
    border-radius: 10px;
    width: 100%;
}
/* service */
.service--contents {
    display: flex;
    justify-content: space-between;
}
.service--contents > div {
    width: 32%;
}
.service--contents__design img,
.service--contents__cording img,
.service--contents__editing img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.service--contents__design img {
    width: 47px;
}
.service--contents__cording img {
    width: 68px;
}
.service--contents__editing img {
    width: 37px;
}
.service--contents__design div,
.service--contents__cording div,
.service--contents__editing div {
    background-color: #fff;
    width: 80%;
    border-radius: 50%;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1),
        3px 3px 10px rgba(0, 0, 0, 0.03);
    padding-top: 80%;
    margin: 0 auto 35px auto;
    position: relative;
}
.service--contents h3 {
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: 0.2em;
}
.service--contents__design p:nth-of-type(1),
.service--contents__cording p:nth-of-type(1),
.service--contents__editing p:nth-of-type(1) {
    font-size: 13px;
    color: #ad8f86;
    text-align: center;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}
.service--contents__design p:last-of-type,
.service--contents__cording p:last-of-type,
.service--contents__editing p:last-of-type {
    width: 90%;
    margin: 0 auto;
    line-height: 1.875;
}

/* skill */
.skill--skillpersonal {
    display: flex;
    justify-content: space-between;
}
.skill--skill,
.skill--personal {
    width: 47.2%;
    height: 550px;
    border-radius: 48px;
    overflow: hidden;
    box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.2),
        3px 3px 10px rgba(0, 0, 0, 0.03);
}
.skill--skill h3,
.skill--personal h3 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: 40px 0 15px 0;
}
.skill--skill__underline,
.skill--personal__underline {
    background-color: #ad8f86;
    border-radius: 1px;
    width: 100px;
    height: 2px;
    display: block;
    margin: 0 auto;
}
.skill--skill__underline {
    margin-bottom: 30px;
}
.skill--personal__underline {
    margin-bottom: 42px;
}

.skill--skill__bar {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f8ece5;
    border-radius: 5px;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1),
        3px 3px 8px rgba(0, 0, 0, 0.03);
}
.skill--skill__ps,
.skill--skill__ai,
.skill--skill__html,
.skill--skill__css,
.skill--skill__pr,
.skill--skill__ae {
    border-radius: 5px;
    height: 10px;
    background: #ad8f86;
}
.skill--skill__ps {
    width: 80%;
}
.skill--skill__ai {
    width: 70%;
}
.skill--skill__html {
    width: 70%;
}
.skill--skill__css {
    width: 70%;
}
.skill--skill__pr {
    width: 90%;
}
.skill--skill__ae {
    width: 60%;
}

.skill--skill ul {
    margin: 0 auto;
    width: 68%;
}
.skill--skill ul li {
    margin-bottom: 32px;
}
.skill--skill ul li p {
    margin-bottom: 8px;
}

.skill--personal li {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}
.skill--personal {
    position: relative;
}
.skill--personal__icon01 {
    position: absolute;
    top: 130px;
    left: 20px;
}
.skill--personal__icon02 {
    position: absolute;
    top: 200px;
    right: 50px;
}
.skill--personal__icon03 {
    position: absolute;
    top: 300px;
    left: 55px;
}
.skill--personal__icon04 {
    position: absolute;
    top: 440px;
    right: 32px;
}
/* contact */
.contact--title__jpn {
    margin-bottom: 30px;
}
.contact--title p {
    text-align: center;
}
.contact--form {
    max-width: 1000px;
}
.contact--form dl {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}
.contact--form dl:last-of-type {
    margin-bottom: 50px;
}
.contact--form dt {
    width: 28%;
}
.contact--form dd {
    width: 49.5%;
}
.contact--form dt span {
    font-size: 11px;
    background-color: #ad8f86;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    margin-right: 13px;
}
.contact--form .contact--form__nini {
    background-color: #f1e2da;
    color: #ad8f86;
}

.contact--form__input {
    border: none;
    border-radius: 6px;
    height: 35px;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 495px;
    background: #fff;
    font-size: 14px;
    color: #ad8f86;
    box-sizing: border-box;
}
.contact--form__inputTextArea {
    border: none;
    border-radius: 6px;
    height: 150px;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 495px;
    background: #fff;
    font-size: 14px;
    color: #ad8f86;
    box-sizing: border-box;
}
.contact--btn__btn {
    display: block;
    background: #ad8f86;
    color: #fff;
    letter-spacing: 0.1em;
    padding: 9px 30px;
    border-radius: 8px;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1),
        3px 3px 10px rgba(0, 0, 0, 0.03);
    margin: 0 auto;
}
/* footer */
#footer {
    background: #ad8f86;
    /* height: 254px; */
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
}
.footer--contents {
    display: flex;
    padding-top: 70px;
    max-width: 1000px;
    margin: 0 auto 45px auto;
}
.footer--contents__name p {
    color: #fff;
    font-size: 30px;
    white-space: nowrap;
    margin: 0 50px 0 35px;
}
.footer--contents__nav li {
    color: #fff;
    padding-left: 1em;
    margin-bottom: 12px;
    position: relative;
}

.footer--contents__nav li:after {
    position: absolute;
    content: "";
    bottom: 0.4em;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: #fff;
    transform: rotate(45deg);
}
.footer--contents__c {
    color: #fff;
    font-size: 8px;
    text-align: center;
    padding-bottom: 10px;
}
/* TOPに戻るボタン */
.top a {
    position: fixed;
    right: 24px;
    bottom: 10px;
    font-size: 25px;
    color: #ad8f86;
    background: #f8ece5;
    border-radius: 50%;
    padding: 20px;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1),
        3px 3px 10px rgba(0, 0, 0, 0.03);
}
.top a:hover {
    background: #ad8f86;
    color: #fff;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.1),
        3px 3px 10px rgba(0, 0, 0, 0.08);
    box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.3),
        inset 3px 3px 10px rgba(0, 0, 0, 0.15);
}

/* Worksスライダー調整 */
.slick-track {
    margin-bottom: 34px;
}
.slick-dots {
    bottom: -25px;
}
.slick-dots li button:before {
    color: #fff;
    opacity: 100%;
}
.slick-dots li.slick-active button:before {
    color: #ad8f86;
}
.works--slider .slick-slide:not(.slick-center) {
    -webkit-filter: opacity(50%);
    -moz-filter: opacity(50%);
    -o-filter: opacity(50%);
    -ms-filter: opacity(50%);
    filter: opacity(50%);
    transition: 0.2s linear;
}

/* スマホ用をPCで表示しない */
.header--spnav {
    display: none;
}
.mainvisual--message__sp,
.mainvisual--manami__sp {
    display: none;
}
.footer--contents__name__sp {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header {
        display: none;
    }
    .header--pcnav {
        display: none;
    }
    .header--spbtn {
        display: block;
        position: fixed;
        top: 10px;
        right: 24px;
        z-index: 1000;
        height: 30px;
        cursor: pointer;
        z-index: 1001;
    }
    .header--spbtn span {
        width: 33px;
        height: 3px;
        border-radius: 5px;
        background: #ad8f86;
        display: block;
        position: relative;
        top: 22px;
        z-index: 1000;
    }
    .header--spbtn span::before,
    .header--spbtn span::after {
        content: "";
        display: block;
        background: #ad8f86;
        border-radius: 5px;
        width: 33px;
        height: 3px;
        position: absolute;
        transition: 0.3s;
    }
    .header--spbtn span::before {
        bottom: 8px;
    }
    .header--spbtn span::after {
        top: 8px;
    }
    .open span {
        background: transparent;
    }
    .open span::before {
        bottom: 0px;
        transform: rotate(45deg);
    }
    .open span::after {
        top: 0px;
        transform: rotate(135deg);
    }
    .header--spnav {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(61, 44, 40, 0.8);
        height: 100vh;
        width: 100%;
        z-index: 1000;
    }
    .header--spnav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .header--spnav li {
        color: #fff;
        text-align: center;
        padding: 20px;
        font-size: 25px;
    }
}

@media screen and (max-width: 767px) {
    #about,
    #works,
    #service,
    #skill,
    #contact {
        margin-bottom: 50px;
    }
    /* title */
    h2 {
        font-size: 50px;
    }
    .works--title,
    .service--title,
    .skill--title,
    .contact--title {
        margin-bottom: 30px;
    }
    h2::after {
        font-size: 15px;
        left: 20%;
    }
    .skill--title h2::after {
        left: 4%;
    }
    h2 span::after {
        font-size: 9px;
        left: 15%;
    }
    .skill--title h2 span::after {
        left: 2%;
    }
    h2::before {
        font-size: 15px;
        left: 80%;
    }
    .skill--title h2::before {
        left: 95%;
    }
    h2 span::before {
        font-size: 9px;
        left: 75%;
    }
    .skill--title h2 span::before {
        left: 90%;
    }
    /* ------- */
    .mainvisual {
        display: block;
        margin-bottom: 0;
    }
    .mainvisual--message__sp {
        display: block;
        margin: 80px 0 40px 0;
        position: relative;
    }
    .mainvisual--message__sp p:nth-of-type(1) {
        font-size: 14vw;
        font-weight: 300;
        line-height: 1.25;
        text-align: center;
        letter-spacing: 0.2em;
        margin-bottom: 15px;
    }
    .mainvisual--message__sp p:nth-of-type(2) {
        font-size: 5vw;
        text-align: center;
        letter-spacing: 0.2em;
    }
    .mainvisual--message__sp img {
        position: absolute;
        top: -30px;
        left: 3%;
        width: 80%;
        z-index: -1;
    }
    .mainvisual--manami {
        display: none;
    }
    .mainvisual--manami__sp {
        display: block;
        box-sizing: border-box;
        margin: 0 8% 50px 8%;
    }
    .mainvisual--manami__sp img {
        width: 100%;
    }
    h1 {
        padding: 0;
    }
    .scroll {
        bottom: -30px;
        left: 8%;
    }
    /* about */
    .about--contents {
        height: 400px;
    }
    .about--contents__up {
        display: block;
        padding-top: 60px;
    }
    .about--contents__up__image {
        display: none;
    }
    .about--contents__up__text {
        margin: 0 auto;
        width: 80%;
    }
    .about--contents__up__text p {
        text-align: center;
    }
    .about--contents__up__text__01 {
        font-size: 6vw;
    }
    .about--contents__up__text__02 {
        font-size: 7vw;
        margin-bottom: 20px;
    }
    .about--contents__up__text p:last-of-type {
        text-align: left;
    }
    .about--background {
        /* width: 1200px;
        height: 300px; */
        margin-top: -200px;
    }
    .about--background p {
        font-size: 180px;
        letter-spacing: 0;
    }

    /* works */
    .works--slider div {
        padding: 0 20px;
        margin: 0 auto 30px auto;
        width: 80%;
    }

    /* service */
    .service--contents {
        display: block;
    }
    .service--contents > div {
        width: 100%;
    }
    .service--contents__design div,
    .service--contents__cording div,
    .service--contents__editing div {
        width: 50%;
        padding-top: 50%;
        position: relative;
        margin: 0 auto 20px auto;
    }
    .service--contents__design,
    .service--contents__cording,
    .service--contents__editing {
        margin-bottom: 40px;
    }
    .service--contents h3 {
        margin-bottom: 10px;
    }
    .service--contents__design p:nth-of-type(1),
    .service--contents__cording p:nth-of-type(1),
    .service--contents__editing p:nth-of-type(1) {
        margin-bottom: 20px;
    }

    /* skill&personal */
    .skill--skillpersonal {
        display: block;
    }
    .skill--skill,
    .skill--personal {
        width: 90%;
        margin: 0 auto 50px auto;
    }

    /* contact */
    .contact--title p {
        text-align: center;
        padding: 0 5%;
        line-height: 1.25;
        font-size: 16px;
    }
    .contact--form dl {
        display: block;
        margin-bottom: 30px;
    }
    .contact--form dl:last-of-type {
        margin-bottom: 50px;
    }
    .contact--form dt {
        width: 90%;
        margin: 0 5% 15px 5%;
    }
    .contact--form dd {
        width: 100%;
        text-align: center;
    }
    .contact--form__input {
        height: 50px;
        max-width: 90%;
    }
    .contact--form__inputTextArea {
        max-width: 90%;
    }

    /* footer */
    .footer--contents__name {
        display: none;
    }
    .footer--contents__name__sp {
        display: block;
    }
    .footer--contents__name__sp p {
        color: #fff;
        font-size: 30px;
        margin: 0 50px 0 35px;
        line-height: 1.25;
    }
}
